.main-hero-container{
  margin-top: 60px;
  .page-banner-container{
    background-image: url(
      https://demo.hasthemes.com/gilbard-preview/gilbard/assets/images/bg/page-bg.jpg
      );
      height: 360px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: #000000;
      opacity: 0.4;
    }
  }
  .heading-container{
    text-align: center;
    margin-bottom: 20px;
    .main-heading-text{
      color: #fff;
    }
  }
  .search-container-wrapper{
    text-align: center;
  }
}