.roboto-bold{
  font-family: Roboto;
  font-weight: 700;
}
.roboto-medium {
  font-family: Roboto;
  font-weight: 500;
}
.roboto-light {
  font-family: Roboto;
  font-weight: 300;
}
.roboto-normal {
  font-family: Roboto;
  font-weight: normal;
}
.ibm{
  display: inline-block;
  vertical-align: middle;
}
.ibt{
  display: inline-block;
  vertical-align: top;
}